In [1]:
#area of Triangle = 1/2*(b*h)
b=int(input("enter the value of b:"))
h=int(input("enter the value of h:"))
area_of_triangle = 1/2*(b*h)
print("Area Of Triangle:",area_of_triangle)

enter the value of b:75
enter the value of h:65
Area Of Triangle: 2437.5

In [1]:
for x in range(2):
    a=int(input("enter the value of a:"))
    b=int(input("enter the value of b:"))
    if a>b:
        print("value is correct")
    else:
        print("value is incorrect")
    print("__________________________________")

enter the value of a:45
enter the value of b:40
value is correct
__________________________________
enter the value of a:45
enter the value of b:45
value is incorrect
__________________________________

In [2]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [4]:
for x in range(2):
    a=input("Enter the name:")
    print(a)

Enter the name:ankita
ankita
Enter the name:kajal
kajal

In [1]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
c=a/b
print(c) 
print("***********************************")

x=int(input("enter the value of x:"))
y=int(input("enter the value of y:"))
z=x*y
print(z)

enter the value of a:75
enter the value of b:5
15.0
***********************************
enter the value of x:45
enter the value of y:25
1125

In [1]:
for x in range(2):
    def info():
        name=input("enter the name:")
        email_id=input("enter the email_id:")
        mobile_number=int(input("enter the mobile_number:"))
        password=int(input("enter the password:"))
        print("Name:",name,"Email ID:",email_id,"Mobile Number:",mobile_number,"Password:",password)
        print("_____________________________________________________________________________")
    info()

enter the name:ankita
enter the email_id:ank@1234
enter the mobile_number:7896541230
enter the password:123456
Name: ankita Email ID: ank@1234 Mobile Number: 7896541230 Password: 123456
_____________________________________________________________________________
enter the name:kajal
enter the email_id:kaj@07
enter the mobile_number:9874563210
enter the password:0705
Name: kajal Email ID: kaj@07 Mobile Number: 9874563210 Password: 705
_____________________________________________________________________________

In [3]:
class my:
    def data(self):
        self.a=int(input("enter the value"))
        self.b=int(input("enter the value"))
    def show(self):
        print(self.a+self.b)
obj= my()
obj.data()
obj.show()

enter the value45
enter the value52
97

In [4]:
class student:
    def operation(self,name,num):
        self.name=name
        self.num=num
        
    def show(self):
        print(self.name,self.num)

a=input("Enter the name=")
b=int(input("Enter the value="))
        
o=student()
o.operation(a,b)
o.show()

Enter the name=ankita
Enter the value=12
ankita 12

In [3]:
ab=[]
class student:
    def info(self):
        a=input("enter the name:")
        b=int(input("enter the contact_number:"))
        c=input("enter the email_id:")
        d=int(input("enter the n count:"))
        
        for x in range(d):
            m=int(input("enter the marks:"))
            ab.append(m)
            print(ab)
            print("NAME=",a,"CONTACT NUMBER=",b,"EMAIL ID=",c,"MARKS=",d)

obj=student()
obj.info()

enter the name:ankita
enter the contact_number:7896541230
enter the email_id:ank1234
enter the n count:4
enter the marks:99
[99]
NAME= ankita CONTACT NUMBER= 7896541230 EMAIL ID= ank1234 MARKS= 4
enter the marks:88
[99, 88]
NAME= ankita CONTACT NUMBER= 7896541230 EMAIL ID= ank1234 MARKS= 4
enter the marks:77
[99, 88, 77]
NAME= ankita CONTACT NUMBER= 7896541230 EMAIL ID= ank1234 MARKS= 4
enter the marks:66
[99, 88, 77, 66]
NAME= ankita CONTACT NUMBER= 7896541230 EMAIL ID= ank1234 MARKS= 4

In [6]:
def op():
    z=a/b*c+d
    print(z)
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
c=int(input("enter the value of c:"))
d=int(input("enter the value of d:"))
op()

enter the value of a:78
enter the value of b:95
enter the value of c:45
enter the value of d:54
90.94736842105263