In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv(r"C:\Users\Sushant\Desktop\Ankita\Datasets\CarPrice.csv")
dataset

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [4]:
dataset.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [5]:
dataset["fueltype"].unique()

array(['gas', 'diesel'], dtype=object)

In [6]:
from sklearn.preprocessing import LabelEncoder
l1=LabelEncoder()
dataset["fueltype"]=l1.fit_transform(dataset["fueltype"])
dataset["fueltype"].value_counts()

1    185
0     20
Name: fueltype, dtype: int64

In [7]:
dataset

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,1,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,1,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,1,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,1,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,1,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),1,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,1,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,1,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,0,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,1,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [ ]:
from sklearn.preprocessing import LabelEncoder
l1=LabelEncoder()
data[""]=l1.fit_transform(data[""])
data[""].value_counts()

In [8]:
dataset["carbody"]=l1.fit_transform(dataset["carbody"])
dataset["carbody"].value_counts()

3    96
2    70
4    25
1     8
0     6
Name: carbody, dtype: int64

In [9]:
dataset["enginetype"]=l1.fit_transform(dataset["enginetype"])
dataset["enginetype"].value_counts()

3    148
4     15
5     13
2     12
0     12
6      4
1      1
Name: enginetype, dtype: int64

In [10]:
x=dataset.iloc[:,[3,6,10,11,12,14,16]]
y=dataset.iloc[:,-1]
x

     fueltype  carbody  carlength  carwidth  carheight  enginetype  enginesize
0           1        0      168.8      64.1       48.8           0         130
1           1        0      168.8      64.1       48.8           0         130
2           1        2      171.2      65.5       52.4           5         152
3           1        3      176.6      66.2       54.3           3         109
4           1        3      176.6      66.4       54.3           3         136
..        ...      ...        ...       ...        ...         ...         ...
200         1        3      188.8      68.9       55.5           3         141
201         1        3      188.8      68.8       55.5           3         141
202         1        3      188.8      68.9       55.5           5         173
203         0        3      188.8      68.9       55.5           3         145
204         1        3      188.8      68.9       55.5           3         141

[205 rows x 7 columns]

In [46]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [47]:
x_test

     fueltype  carbody  carlength  carwidth  carheight  enginetype  enginesize
1           1        0      168.8      64.1       48.8           0         130
82          1        2      173.2      66.3       50.2           3         156
76          1        2      157.3      64.4       50.8           3          92
102         1        4      184.6      66.5       56.1           5         181
71          1        3      202.6      71.7       56.5           5         234
185         1        3      171.7      65.5       55.7           3         109
105         1        2      170.7      67.9       49.7           5         181
191         1        3      180.2      66.9       55.1           3         136
134         1        2      186.6      66.5       56.1           3         121
14          1        3      189.0      66.9       55.7           3         164
11          1        3      176.8      64.8       54.3           3         108
195         1        4      188.8      67.2       57.5           3         141
165         1        3      168.7      64.0       52.6           0          98
33          1        2      150.0      64.0       52.6           3          92
34          1        2      150.0      64.0       52.6           3          92
69          0        1      187.5      70.3       54.9           3         183
99          1        2      173.4      65.2       54.7           3         120
187         0        3      171.7      65.5       55.7           3          97
179         1        2      183.5      67.7       52.0           0         171
83          1        2      173.2      66.3       50.2           3         156
200         1        3      188.8      68.9       55.5           3         141
150         1        2      158.7      63.6       54.5           3          92
45          1        3      155.9      63.6       52.0           3          90
61          1        2      177.8      66.5       53.7           3         122
111         1        3      186.7      68.4       56.7           2         120
18          1        2      141.1      60.3       53.2           2          61
89          1        3      165.3      63.8       54.5           3          97
189         1        0      159.3      64.2       55.6           3         109
93          1        4      170.2      63.8       53.5           3          97
90          0        3      165.3      63.8       54.5           3         103
121         1        3      167.3      63.8       50.8           3          90
110         0        4      198.9      68.4       58.7           2         152
6           1        3      192.7      71.4       55.7           3         136
91          1        3      165.3      63.8       54.5           3          97
116         0        3      186.7      68.4       56.7           2         152
47          1        3      199.6      69.6       52.8           0         258
135         1        3      186.6      66.5       56.1           3         121
204         1        3      188.8      68.9       55.5           3         141
194         1        3      188.8      67.2       56.2           3         141
170         1        1      176.2      65.6       52.0           3         146
92          1        3      165.3      63.8       54.5           3          97

In [48]:
y_test

1      16500.0
82     12629.0
76      5389.0
102    14399.0
71     34184.0
185     8195.0
105    19699.0
191    13295.0
134    15040.0
14     24565.0
11     16925.0
195    13415.0
165     9298.0
33      6529.0
34      7129.0
69     28176.0
99      8949.0
187     9495.0
179    15998.0
83     14869.0
200    16845.0
150     5348.0
45      8916.5
61     10595.0
111    15580.0
18      5151.0
89      5499.0
189    11595.0
93      7349.0
90      7099.0
121     6692.0
110    13860.0
6      17710.0
91      6649.0
116    17950.0
47     32250.0
135    15510.0
204    22625.0
194    12940.0
170    11199.0
92      6849.0
Name: price, dtype: float64

In [49]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [50]:
y_pred=regressor.predict([[1,2,159.1,64.2,54.1,3,91]])
y_pred

array([7327.20930976])

In [51]:
y_pred=regressor.predict(x_test)
y_pred

array([12931.08358955, 17435.65828484,  6986.42812447, 20785.05837242,
       34200.66246991, 10554.90029975, 22482.24371276, 15532.71120538,
       14874.37134924, 19592.18666254,  9814.39188804, 16160.88947955,
        6144.44257464,  6568.33991284,  6568.33991284, 27049.88742431,
       12686.27387248,  9052.7923403 , 20396.33861878, 17435.65828484,
       18457.90963144,  6960.01053364,  5044.4100751 , 14158.54074484,
       15130.33274241, -1339.47335375,  6993.41224876, 12060.41035603,
        5964.4133318 ,  7755.45742615,  5586.80341974, 19002.49438293,
       20309.17534931,  6993.41224876, 19162.82133966, 32882.29468003,
       13771.53503669, 18457.90963144, 17044.05654199, 17102.57089303,
        6993.41224876])

In [52]:
ab=regressor.score(x_test,y_test)*100
ab

79.19954394079998