In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\Sushant\Desktop\Ankita\Datasets\Social_Network_Ads.csv")
data

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [4]:
data.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [5]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [6]:
from sklearn.model_selection import KFold
kf=KFold(n_splits=2,random_state=10,shuffle=True)
kf.get_n_splits(x)
print(kf)

KFold(n_splits=2, random_state=10, shuffle=True)

In [7]:
for train_index,test_index in kf.split(x):
    print("TRAIN:",train_index,"TEST:",test_index)
    x_train,x_test=x[train_index],x[test_index]
    y_train,y_test=y[train_index],y[test_index]

TRAIN: [  2   3   4   7   8   9  11  13  14  15  16  18  22  23  28  30  31  32
  33  39  40  41  42  44  45  46  48  51  53  54  62  67  71  73  74  77
  79  82  84  85  86  89  90  91  93  94  95  96 103 112 115 116 118 120
 122 123 125 128 133 134 135 136 137 140 141 143 144 145 150 153 156 158
 159 160 161 162 165 168 169 171 176 177 178 179 180 182 185 186 190 193
 196 197 198 200 201 203 204 206 209 213 215 216 217 220 221 224 228 229
 232 233 234 235 237 239 243 244 246 248 250 254 255 256 257 259 263 265
 267 268 270 271 272 273 277 282 283 284 285 286 287 289 290 292 296 297
 305 306 307 309 310 312 313 314 315 317 319 320 321 322 324 325 327 333
 334 335 336 337 338 341 342 344 345 347 348 350 353 354 356 358 359 361
 363 364 365 368 369 370 371 375 378 381 382 383 384 386 389 391 393 394
 395 397] TEST: [  0   1   5   6  10  12  17  19  20  21  24  25  26  27  29  34  35  36
  37  38  43  47  49  50  52  55  56  57  58  59  60  61  63  64  65  66
  68  69  70  72  75  76  78  80  81  83  87  88  92  97  98  99 100 101
 102 104 105 106 107 108 109 110 111 113 114 117 119 121 124 126 127 129
 130 131 132 138 139 142 146 147 148 149 151 152 154 155 157 163 164 166
 167 170 172 173 174 175 181 183 184 187 188 189 191 192 194 195 199 202
 205 207 208 210 211 212 214 218 219 222 223 225 226 227 230 231 236 238
 240 241 242 245 247 249 251 252 253 258 260 261 262 264 266 269 274 275
 276 278 279 280 281 288 291 293 294 295 298 299 300 301 302 303 304 308
 311 316 318 323 326 328 329 330 331 332 339 340 343 346 349 351 352 355
 357 360 362 366 367 372 373 374 376 377 379 380 385 387 388 390 392 396
 398 399]
TRAIN: [  0   1   5   6  10  12  17  19  20  21  24  25  26  27  29  34  35  36
  37  38  43  47  49  50  52  55  56  57  58  59  60  61  63  64  65  66
  68  69  70  72  75  76  78  80  81  83  87  88  92  97  98  99 100 101
 102 104 105 106 107 108 109 110 111 113 114 117 119 121 124 126 127 129
 130 131 132 138 139 142 146 147 148 149 151 152 154 155 157 163 164 166
 167 170 172 173 174 175 181 183 184 187 188 189 191 192 194 195 199 202
 205 207 208 210 211 212 214 218 219 222 223 225 226 227 230 231 236 238
 240 241 242 245 247 249 251 252 253 258 260 261 262 264 266 269 274 275
 276 278 279 280 281 288 291 293 294 295 298 299 300 301 302 303 304 308
 311 316 318 323 326 328 329 330 331 332 339 340 343 346 349 351 352 355
 357 360 362 366 367 372 373 374 376 377 379 380 385 387 388 390 392 396
 398 399] TEST: [  2   3   4   7   8   9  11  13  14  15  16  18  22  23  28  30  31  32
  33  39  40  41  42  44  45  46  48  51  53  54  62  67  71  73  74  77
  79  82  84  85  86  89  90  91  93  94  95  96 103 112 115 116 118 120
 122 123 125 128 133 134 135 136 137 140 141 143 144 145 150 153 156 158
 159 160 161 162 165 168 169 171 176 177 178 179 180 182 185 186 190 193
 196 197 198 200 201 203 204 206 209 213 215 216 217 220 221 224 228 229
 232 233 234 235 237 239 243 244 246 248 250 254 255 256 257 259 263 265
 267 268 270 271 272 273 277 282 283 284 285 286 287 289 290 292 296 297
 305 306 307 309 310 312 313 314 315 317 319 320 321 322 324 325 327 333
 334 335 336 337 338 341 342 344 345 347 348 350 353 354 356 358 359 361
 363 364 365 368 369 370 371 375 378 381 382 383 384 386 389 391 393 394
 395 397]

In [8]:
from sklearn.linear_model import LogisticRegression
l1=LogisticRegression()
from sklearn.model_selection import cross_val_score
scores=cross_val_score(l1,x_train,y_train,cv=kf)
print(scores)
print(np.mean(scores)*100)

[0.69 0.61]
64.99999999999999

In [10]:
from sklearn.model_selection import cross_val_predict
y_pred=cross_val_predict(l1,x_test,y_test,cv=kf)
print(y_pred)

[0 1 0 0 0 1 0 1 0 0 1 0 0 0 1 0 0 1 0 1 1 1 0 0 1 0 0 0 0 1 0 0 1 0 0 1 0
 0 1 0 0 1 0 0 0 0 1 1 0 1 0 1 1 1 0 1 1 0 0 1 0 0 0 0 0 0 1 0 1 1 1 0 0 0
 0 1 0 0 1 0 1 1 1 1 1 0 0 0 0 0 1 1 0 0 0 1 0 0 1 1 0 1 1 1 0 1 0 0 0 1 0
 1 0 0 1 0 1 1 0 1 1 1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1
 0 0 0 0 1 0 1 0 0 0 0 1 0 1 1 1 0 1 1 1 0 1 1 0 1 0 1 0 0 0 1 0 0 0 0 0 1
 1 0 0 1 0 0 0 0 1 1 0 1 0 1 1]