# 1) List

In [ ]:

# 1)List is Collection of items storing in single variable
# 2)List allows duplicate items
# 3)List is changable
# 4)List is Indexed and Ordered
# 5)List defines in []

In [9]:
a=["Nikita","Renu","Kajal","Sayali"]
print(type(a))

<class 'list'>

In [11]:
b=list()
print(type(b))

<class 'list'>

In [14]:
# How to access item in the list

a=["Nikita","Renu","Kajal","Sayali","Neha","Diksha"]
ab=a[5]
print(ab)

Diksha

In [15]:
a=["Nikita","Renu","Kajal","Sayali","Neha","Diksha"]
ab=a[3:5]
print(ab)

['Sayali', 'Neha']

In [16]:
a=["Nikita","Renu","Kajal","Sayali","Neha","Diksha"]
ab=a[5:5]
print(ab)

[]

In [17]:
a=["Nikita","Renu","Kajal","Sayali","Neha","Diksha"]
ab=a[-3:5]
print(ab)

['Sayali', 'Neha']

In [18]:
a=["Nikita","Renu","Kajal","Sayali","Neha","Diksha"]
ab=a[-3:-2]
print(ab)

['Sayali']

In [19]:
a=["Nikita","Renu","Kajal","Sayali","Neha","Diksha"]
ab=a[-3:-5]
print(ab)

[]

In [2]:
a=["Nikita","Renu","Kajal","Sayali"]
print(a)

['Nikita', 'Renu', 'Kajal', 'Sayali']

In [22]:
# Length

a=["Nikita","Renu","Kajal","Sayali","Neha","Diksha"]
print(len(a))

6

In [3]:
# Append

AB=input("Enter the name: ")
a=["Nikta","Renu","Kajal","Sayali"]
a.append(AB)
print(a)

Enter the name: nik
['Nikta', 'Renu', 'Kajal', 'Sayali', 'nik']

In [4]:
#Insert

AB=input("Enter the name: ")
a=["Nikita","Renu","Kajal","Sayali"]
a.insert(3,AB)
print(a)

Enter the name: Ni8k
['Nikita', 'Renu', 'Kajal', 'Ni8k', 'Sayali']

In [5]:
#Remove

AB=input("Enter the name: ")
a=["Nikita","Renu","Kajal","Sayali"]
a.remove(AB)
print(a)

Enter the name: Sayali
['Nikita', 'Renu', 'Kajal']

In [3]:
### its remove we given value
### use the remove() function to delete a specific object in the list.
am=[3,7,5,7,6]
am.remove(3)
print(am)

[7, 5, 7, 6]

In [4]:
am=[3,7,5,7,6]
del am

In [44]:
### its del by positional value
### If you want to delete an object at a specific location in the list
am=[3,7,5,7,6]
del am[3]
print(am)

[3, 7, 5, 6]

In [45]:

a=["Nikita","Renu","Kajal","Sayali"]
del a[1]
print(a)

['Nikita', 'Kajal', 'Sayali']

In [6]:
#Pop

a=["Nikita","Renu","Kajal","Sayali"]
a.pop()
print(a)

['Nikita', 'Renu', 'Kajal']

In [7]:
# Concatenate
# It combines 2 sets.

a=["Nikita","Renu","Kajal","Sayali"]
b=["Pranav","Sahil","Vinay","Pruthvi"]
ab=a+b
print(ab)

['Nikita', 'Renu', 'Kajal', 'Sayali', 'Pranav', 'Sahil', 'Vinay', 'Pruthvi']

In [8]:
# a*2

a=["Nikita","Renu","Kajal","Sayali"]
ab=a*2
print(ab)

['Nikita', 'Renu', 'Kajal', 'Sayali', 'Nikita', 'Renu', 'Kajal', 'Sayali']

# 2) Tuple

In [20]:

# Tuple is unchangable (unmuteable) 
# Tuple allows dublicate values.
# It is ordered and indexed.
# Tuple defines in ().

In [21]:
call = ()
call1 =tuple()

print(type(call))
print(type(call1))

<class 'tuple'>
<class 'tuple'>

In [24]:
# Length

name=("Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva")
print(len(name))

6

In [5]:
name=("Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva")
del name

In [26]:
name=("Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva")
ab=name[3]
print(ab)

Swaranjali

In [27]:
name=("Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva")
ab=name[3:10]
print(ab)

('Swaranjali', 'Aarohi', 'Reva')

In [28]:
name=("Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva")
ab=name[5:10]
print(ab)

('Reva',)

In [29]:
name=("Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva")
ab=name[-3:10]
print(ab)

('Swaranjali', 'Aarohi', 'Reva')

In [30]:
name=("Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva")
ab=name[-4:3]
print(ab)

('Diksha',)

In [32]:
name=("Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva")
ab=name[-5:1]
print(ab)

()

In [33]:
# Concatenate
# It combines 2 sets.

name=("Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva")
city=("Sangli","Delhi","Pune","Jaypur","Ichal","Surat","Nashik")
ab=name+city
print(ab)

('Neha', 'Nikita', 'Diksha', 'Swaranjali', 'Aarohi', 'Reva', 'Sangli', 'Delhi', 'Pune', 'Jaypur', 'Ichal', 'Surat', 'Nashik')

In [34]:
name=("Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva")
city=("Sangli","Delhi","Pune","Jaypur","Ichal","Surat","Nashik")
ab=city*2
print(ab)

('Sangli', 'Delhi', 'Pune', 'Jaypur', 'Ichal', 'Surat', 'Nashik', 'Sangli', 'Delhi', 'Pune', 'Jaypur', 'Ichal', 'Surat', 'Nashik')

# 3) Set

In [35]:

# Set is changable.
# It does not allow duplicate members
# It is unindexed and unordered
# It defines in {}

In [39]:
call = {}                        # because it is blank set
call2 = set()

print(type(call))
print(type(call2))

<class 'dict'>
<class 'set'>

In [41]:
call={"Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva"}
print(type(call))

<class 'set'>

In [43]:
name= {"Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva"}
print(name)

{'Aarohi', 'Swaranjali', 'Diksha', 'Nikita', 'Reva', 'Neha'}

In [6]:
name= {"Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva"}
del name

In [1]:
# Add

name= {"Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva"}
name.add("Aboli")
print(name)

{'Nikita', 'Aboli', 'Swaranjali', 'Neha', 'Diksha', 'Reva', 'Aarohi'}

In [2]:
# Remove

name= {"Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva"}
name.remove("Neha")
print(name)

{'Nikita', 'Swaranjali', 'Diksha', 'Reva', 'Aarohi'}

In [3]:
# Discard

name= {"Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva"}
name.discard("Neha")
print(name)

{'Nikita', 'Swaranjali', 'Diksha', 'Reva', 'Aarohi'}

In [17]:
# Discard

name= {"Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva"}
name.pop()
print(name)

{'Nikita', 'Reva', 'Aarohi', 'Diksha', 'Neha'}

In [5]:
# How to join

name= {"Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva"} 
name2= {"Sahil","Pranav","Vinya","Pruthvi","Daksh","Shiva"}
ab=name.union(name2)
print(ab)

{'Sahil', 'Shiva', 'Nikita', 'Pruthvi', 'Swaranjali', 'Vinya', 'Daksh', 'Neha', 'Diksha', 'Reva', 'Pranav', 'Aarohi'}

In [41]:
name= {"Neha","Nikita","Diksha","Swaranjali","Aarohi","Reva"}
name2= {"Sahil","Pranav","Vinya","Pruthvi","Daksh","Shiva"}                  # concatenate not works
ab=name+name2
print(ab)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

# 4) Dictionary

In [6]:

# It is a collection of key & value pairs
# This is not allows keys as duplicate_____but values you can add duplicate.
# Ordered and Indexed
# a={keys : values}

In [10]:
name= {}
name1=dict()
print(type(name))
print(type(name1))

<class 'dict'>
<class 'dict'>

In [10]:
name={"Boys":"Amit",
      "Girls":"Pooja",
      "City":"Pune",
      "Pin Code":1234}

# print(name)
del name
# print(name)

In [16]:
name["Girls"]

'Pooja'

In [21]:
print(len(name))

4

In [22]:
name={"Boys":"Amit",
      "Girls":"Pooja",
      "City":"Pune",
      "Pin Code":1234,
      "colour":["Pink","Red","voilt","Orange","Black"] 
     }

print(name)

{'Boys': 'Amit', 'Girls': 'Pooja', 'City': 'Pune', 'Pin Code': 1234, 'colour': ['Pink', 'Red', 'voilt', 'Orange', 'Black']}

In [25]:
# Only keys are access

name={"Boys":"Amit",
      "Girls":"Pooja",
      "City":"Pune",
      "Pin Code":1234,
      "colour":["Pink","Red","voilt","Orange","Black"] 
     }

print(name)
print("-----------------------------------------------------------------")
x = name.keys()
print(x)

{'Boys': 'Amit', 'Girls': 'Pooja', 'City': 'Pune', 'Pin Code': 1234, 'colour': ['Pink', 'Red', 'voilt', 'Orange', 'Black']}
-----------------------------------------------------------------
dict_keys(['Boys', 'Girls', 'City', 'Pin Code', 'colour'])

In [28]:
# Only values are accessed                          

name={"Boys":"Amit",
      "Girls":"Pooja",
      "City":"Pune",
      "Pin Code":1234,
      "colour":["Pink","Red","voilt","Orange","Black"] 
     }

print(name)
print("-------------------------------------------------------------------------------------------")
x=name.values()
print(x)

{'Boys': 'Amit', 'Girls': 'Pooja', 'City': 'Pune', 'Pin Code': 1234, 'colour': ['Pink', 'Red', 'voilt', 'Orange', 'Black']}
-------------------------------------------------------------------------------------------
dict_values(['Amit', 'Pooja', 'Pune', 1234, ['Pink', 'Red', 'voilt', 'Orange', 'Black']])

In [29]:
# Keys and values are spearate accessed

name={"Boys":"Amit",
      "Girls":"Pooja",
      "City":"Pune",
      "Pin Code":1234,
      "colour":["Pink","Red","voilt","Orange","Black"] 
     }

print(name)
print("----------------------------------------------------------------------------------------------------------------------")
x=name.items()
print(x)

{'Boys': 'Amit', 'Girls': 'Pooja', 'City': 'Pune', 'Pin Code': 1234, 'colour': ['Pink', 'Red', 'voilt', 'Orange', 'Black']}
----------------------------------------------------------------------------------------------------------------------
dict_items([('Boys', 'Amit'), ('Girls', 'Pooja'), ('City', 'Pune'), ('Pin Code', 1234), ('colour', ['Pink', 'Red', 'voilt', 'Orange', 'Black'])])

In [31]:
# Add key and value

name={"Boys":"Amit",
      "Girls":"Pooja",
      "City":"Pune",
      "Pin Code":1234}

print(name)
print("------------------------------------------------------------------------------------------")
name["colour"]= "Black"
print(name)

{'Boys': 'Amit', 'Girls': 'Pooja', 'City': 'Pune', 'Pin Code': 1234}
------------------------------------------------------------------------------------------
{'Boys': 'Amit', 'Girls': 'Pooja', 'City': 'Pune', 'Pin Code': 1234, 'colour': 'Black'}

In [38]:
# check

name={"Boys":"Amit",
      "Girls":"Pooja",
      "City":"Pune",
      "Pin Code":1234}

print(name)
print("*********************")
if "City" in name:
    print("Yes.........")

{'Boys': 'Amit', 'Girls': 'Pooja', 'City': 'Pune', 'Pin Code': 1234}
*********************
Yes.........

In [40]:
# change values

name={"Boys": "Amit",
      "Girls": "Pooja",
      "City": "Pune",
      "Pin Code": 1234}

name["Pin Code"]= 2022
print(name)

{'Boys': 'Amit', 'Girls': 'Pooja', 'City': 'Pune', 'Pin Code': 2022}

In [21]:
# change values

name={"Boys": "Amit",
      "Girls": "Pooja",
      "City": "Pune",
      "Pin Code": 1234}

name.pop("City")
print(name)

{'Boys': 'Amit', 'Girls': 'Pooja', 'Pin Code': 1234}

In [19]:
# change values

name={"Boys": "Amit",
      "Girls": "Pooja",
      "City": "Pune",
      "Pin Code": 1234}

name.popitem()
print(name)

{'Boys': 'Amit', 'Girls': 'Pooja', 'City': 'Pune'}