# LIST :

In [1]:
# How to acess items from list

In [2]:
name=["Sagar","Amit","Amar","Priya","Jeet","Meet"]
ab=name[-3:10]
print(ab)

['Priya', 'Jeet', 'Meet']

In [3]:
name=["Sagar","Amit","Amar","Priya","Jeet","Meet"]
ab=name[-3:-3]
print(ab)

[]

In [4]:
name=["ankita","kajal","nikita","renu"]
name.append("xyz")
print(name)

['ankita', 'kajal', 'nikita', 'renu', 'xyz']

In [5]:
name=["ankita","kajal","nikita","renu"]
print(type(name))

<class 'list'>

In [6]:
name=["ankita","kajal","nikita","renu"]
ab=name[2]
print(ab)

nikita

In [7]:
name=["ankita","kajal","nikita","renu"]
ab=name[-2:4]
print(ab)

['nikita', 'renu']

In [8]:
name=["ankita","kajal","nikita","renu"]
ab=name[-2]
print(ab)

nikita

In [9]:
# Items Insert and Remove

In [10]:
name=["ankita","amit","kajal","vaibhav","renu","nikita","rahul","priya","akshay"]
a="xxx"
name.append(a)
print(name)

['ankita', 'amit', 'kajal', 'vaibhav', 'renu', 'nikita', 'rahul', 'priya', 'akshay', 'xxx']

In [11]:
name=["ankita","amit","kajal","vaibhav","renu","nikita","rahul","priya","akshay"]
a=input("enter the name in list")
name.append(a)
print(name)

enter the name in listabcd
['ankita', 'amit', 'kajal', 'vaibhav', 'renu', 'nikita', 'rahul', 'priya', 'akshay', 'abcd']

In [12]:
#Concatenate

In [13]:
name=["ankita","kajal","nikita","renu"]
name1=["ankita1","kajal1","nikita1","renu1"]
group=name+name1
print(group)

['ankita', 'kajal', 'nikita', 'renu', 'ankita1', 'kajal1', 'nikita1', 'renu1']

In [14]:
a=[1,2,3,4]
b=[5,6,7,8]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
city=["kolhapur","pune","satara","mumbai"]
city1=["kolhapur1","pune1","satara1","mumbai1"]
xyz=city+city1
print(xyz)

['kolhapur', 'pune', 'satara', 'mumbai', 'kolhapur1', 'pune1', 'satara1', 'mumbai1']

In [16]:
p=[74,56,12,64]
q=[98,87,61,21]
ab=p+q
print(ab)

[74, 56, 12, 64, 98, 87, 61, 21]

# Tuple :

In [17]:
city=()
city1=tuple()
print(type(city))
print(type(city1))

<class 'tuple'>
<class 'tuple'>

In [18]:
name= ()
name1=tuple()

print(type(name))
print(type(name1))

<class 'tuple'>
<class 'tuple'>

In [19]:
fruits=("mango","orange","apple","guava","grapes","pineapple")
print(len(fruits))

6

In [20]:
city = ("sangli","kolhapur","karad","satara","pune","mumbai")
print(type(city))

<class 'tuple'>

In [21]:
city = ("sangli","kolhapur","karad","satara","pune","mumbai")
print(city[2:2])

()

In [22]:
city = ("sangli","kolhapur","karad","satara","pune","mumbai")
print(city[1:-3])

('kolhapur', 'karad')

In [23]:
city = ("sangli","kolhapur","karad","satara","pune","mumbai")
print(city[4:3])

()

In [24]:
city =("sangli","kolhapur","karad","satara","pune","mumbai")
city1 =("1sangli","1kolhapur","1karad","1satara","1pune","1mumbai")
p=city+city1
print(p)

('sangli', 'kolhapur', 'karad', 'satara', 'pune', 'mumbai', '1sangli', '1kolhapur', '1karad', '1satara', '1pune', '1mumbai')

In [25]:
city =("sangli","kolhapur","karad","satara","pune","mumbai")
p=city*2
print(p)

('sangli', 'kolhapur', 'karad', 'satara', 'pune', 'mumbai', 'sangli', 'kolhapur', 'karad', 'satara', 'pune', 'mumbai')

# SETS :

In [26]:
name = {"ankita","kajal","nikita","renu","sayali"}
print(type(name))

<class 'set'>

In [27]:
name = {"ankita","kajal","nikita","renu","sayali"}
name.add("xxx")
print(name)

{'xxx', 'nikita', 'kajal', 'ankita', 'renu', 'sayali'}

In [28]:
name = {"ankita","kajal","nikita","renu","sayali"}
name.remove("renu")
print(name)

{'nikita', 'kajal', 'ankita', 'sayali'}

In [29]:
name = {"ankita","kajal","nikita","renu","sayali"}
name.discard("xxx")
print(name)

{'nikita', 'kajal', 'ankita', 'renu', 'sayali'}

In [30]:
name = {"ankita","kajal","nikita","renu","sayali"}
name1 = {"1ankita","1kajal","1nikita","1renu","1sayali"}
abc=name.union(name1)
print(abc)

{'1renu', '1sayali', '1nikita', 'nikita', 'kajal', 'ankita', '1ankita', 'renu', 'sayali', '1kajal'}

In [31]:
value = {75,25,63,85}
value1 = {87,56,49,74}
set = value.union(value1)
print(set)

{74, 75, 49, 85, 87, 56, 25, 63}

# DICTIONARIRS :

In [32]:
name={}
print(type(name))

<class 'dict'>

In [33]:
name={"ab":2}
print(type(name))

<class 'dict'>

In [34]:
name2= dict()
print(type(name2))

<class 'dict'>

In [35]:
ppp={"boy":"amit",
     "girl":"pooja",
     "city":"kolhapur",
     "pincode":416109
       }
print(ppp)

{'boy': 'amit', 'girl': 'pooja', 'city': 'kolhapur', 'pincode': 416109}

In [36]:
data={"name":"ankita",
     "number":1212,
     "email_id":"ank@12"}
print(data)

{'name': 'ankita', 'number': 1212, 'email_id': 'ank@12'}