In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv(r"C:\Users\Acer\Desktop\Dataset\Fish.csv")

In [3]:
dataset

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [5]:
dataset.isnull().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
l1=LabelEncoder()
dataset["Species"]=l1.fit_transform(dataset["Species"])

In [7]:
dataset

     Species  Weight  Length1  Length2  Length3   Height   Width
0          0   242.0     23.2     25.4     30.0  11.5200  4.0200
1          0   290.0     24.0     26.3     31.2  12.4800  4.3056
2          0   340.0     23.9     26.5     31.1  12.3778  4.6961
3          0   363.0     26.3     29.0     33.5  12.7300  4.4555
4          0   430.0     26.5     29.0     34.0  12.4440  5.1340
..       ...     ...      ...      ...      ...      ...     ...
154        5    12.2     11.5     12.2     13.4   2.0904  1.3936
155        5    13.4     11.7     12.4     13.5   2.4300  1.2690
156        5    12.2     12.1     13.0     13.8   2.2770  1.2558
157        5    19.7     13.2     14.3     15.2   2.8728  2.0672
158        5    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [8]:
feature_col=["Species","Length1","Length2","Length3","Height","Width"]
x=dataset[feature_col]
y=dataset.iloc[:,1]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [14]:
print(x_test)

     Species  Length1  Length2  Length3   Height   Width
7          0     27.6     30.0     35.0  12.6700  4.6900
40         4     19.0     20.5     22.8   6.4752  3.3516
95         2     21.5     23.5     25.0   6.2750  3.7250
45         4     20.5     22.5     25.3   7.0334  3.8203
110        2     32.0     34.5     36.5  10.2565  6.3875
120        2     37.0     40.0     42.5  11.7300  7.2250
59         6     33.7     36.4     39.6  11.7612  6.5736
131        3     34.8     37.3     39.8   6.2884  4.0198
33         0     37.4     41.0     45.9  18.6354  6.7473
83         2     19.0     21.0     22.5   5.9175  3.3075
128        3     30.0     32.3     34.8   5.5680  3.3756
134        3     40.0     42.5     45.5   7.2800  4.3225
60         6     37.3     40.0     43.5  12.3540  6.5250
126        2     40.2     43.5     46.0  12.6040  8.1420
62         1     14.3     15.5     17.4   6.5772  2.3142
37         4     17.5     18.8     21.2   5.5756  2.9044
44         4     20.5     22.0     24.3   6.6339  3.5478
142        3     56.0     60.0     64.0   9.6000  6.1440
85         2     19.3     21.3     22.8   6.3840  3.5340
26         0     32.0     35.0     40.6  16.3618  6.0900
61         1     13.5     14.7     16.5   6.8475  2.3265
54         4     29.5     31.7     35.0   9.4850  5.3550
86         2     20.0     22.0     23.5   6.1100  3.4075
144        3     59.0     63.4     68.0  10.8120  7.4800
63         1     16.3     17.7     19.8   7.4052  2.6730
8          0     27.6     30.0     35.1  14.0049  4.8438
24         0     31.9     35.0     40.5  16.2405  5.5890
56         6     24.1     26.5     29.3   8.1454  4.2485
119        2     36.9     40.0     42.3  11.9286  7.1064
148        5     10.4     11.0     12.0   2.1960  1.3800
19         0     31.0     33.5     38.7  14.4738  5.7276
90         2     20.0     22.0     23.5   5.5225  3.9950

In [11]:
from sklearn.linear_model import LinearRegression
r1=LinearRegression()
r1.fit(x_train,y_train)

LinearRegression()

In [12]:
y_pred=r1.predict(x_test)
y_pred

array([ 423.60513597,  193.62263768,  204.12102611,  223.34559697,
        627.77601347,  789.73138993,  826.16580976,  499.26498584,
        957.9859744 ,  125.84434988,  350.10241955,  650.02329277,
        928.65009049,  906.1651415 ,    5.90476626,  108.62941751,
        237.75002354, 1076.45210736,  157.3743758 ,  680.91986694,
          6.33276855,  537.11422115,  159.96019504, 1171.34659836,
         83.34418888,  489.03062419,  676.96352572,  434.18544397,
        807.2085174 , -116.19500606,  586.77382665,  127.18412464])

In [20]:
y_pred=r1.predict([[0,23.2,25.4,30.0,11.5200,4.0200]])
y_pred

array([282.60055407])