 # i=Rows & j=Columns
 # n=6     
 # 1.  i=0            
 #      j=i+1=1        
 #      j+1=1+1=1   
 #      print=2

# 1.

In [31]:
n=int(input("Enter the no.of rows.."))        
for i in range(n):                      
    for j in range(i+1):                     
        print(j+1,end=" ")                  
    print()

Enter the no.of rows..5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
n=int(input("Enter the no. of rows.."))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print(j+1,end=" ")
    print()

Enter the no. of rows..5
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

# 2.

In [15]:
n=int(input("Enter the no.of rows.."))
for i in range(n):
    for j in range(i,-1,-1):         #(-1=minus column,-1=minus row)
        print(j+1,end=" ")
    print()

Enter the no.of rows..5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [8]:
n=int(input("Enter the no.of rows.."))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

Enter the no.of rows..5
        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

# 3.

In [4]:
n=int(input("Enter the no.of.rows.."))
for i in range(n):
    for j in range(i,-1,-1):         
        print(i+1,end=" ")
    print()

Enter the no.of.rows..6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [9]:
n=int(input("Enter the no.of.rows.."))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i,-1,-1):         
        print(i+1,end=" ")
    print()

Enter the no.of.rows..6
          1
        2 2
      3 3 3
    4 4 4 4
  5 5 5 5 5
6 6 6 6 6 6

# 4.

In [6]:
n=int(input("Enter the no.of rows.."))
for i in range(n):
    for j in range(i+1):
        print(n-i,end=" ")
    print()

Enter the no.of rows..6
6
5 5
4 4 4
3 3 3 3
2 2 2 2 2
1 1 1 1 1 1

In [10]:
n=int(input("Enter the no.of rows.."))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print(n-i,end=" ")
    print()

Enter the no.of rows..6
          6
        5 5
      4 4 4
    3 3 3 3
  2 2 2 2 2
1 1 1 1 1 1

# 5.

In [8]:
n=int(input("Enter the no.of rows.."))
for i in range(n):
    for j in range(i+1):
        print(n-j,end=" ")
    print()

Enter the no.of rows..6
6
6 5
6 5 4
6 5 4 3
6 5 4 3 2
6 5 4 3 2 1

In [11]:
n=int(input("Enter the no.of rows.."))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print(n-j,end=" ")
    print()

Enter the no.of rows..6
          6
        6 5
      6 5 4
    6 5 4 3
  6 5 4 3 2
6 5 4 3 2 1

# 6.

In [9]:
n=int(input("Enter the no.of rows.."))
for i in range(n):
    for j in range(i,-1,-1):
        print(n-j,end=" ")
    print()

Enter the no.of rows..5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [12]:
n=int(input("Enter the no.of rows.."))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i,-1,-1):
        print(n-j,end=" ")
    print()

Enter the no.of rows..5
        5
      4 5
    3 4 5
  2 3 4 5
1 2 3 4 5

In [29]:
n = int(input("Enter the no.of. rows:"))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

Enter the no.of. rows:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [28]:
n = int(input("Enter the no.of. rows:"))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

Enter the no.of. rows:6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [34]:
n = int(input("Enter the no.of. rows:"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print(j+1,end=" ")
    print()

Enter the no.of. rows:6
          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5
1 2 3 4 5 6

In [5]:
even=[2,4,6,8,10,11,12,14]
odd=0
for val in even:
    if val%2!=0:
        odd=val
        break
        print(val)
        print("odd value found",odd)

In [2]:
even=[2,4,6,8,10,11,12,14]
odd=0
for val in even:
    if val%2!=0:
        odd=val
        print(val)
        print("odd value found",odd)

11
odd value found 11

In [4]:
a=4
b=2
a%b

0