# Q.Program on star pattern

In [1]:
for x in range(6):
    for y in range(x+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

# Q.Program on star pattern

In [2]:
for x in range(8):
    for y in range(x+1):
        print("*",end=" ")
    print()
for x in range(9):
    for y in range(9-x):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

# Q.write a program on list,tuple,set,dictionary

In [3]:
# List

In [4]:
name=["ankita","sakshi","sayali","nikita"]
print(type(name))

<class 'list'>

In [5]:
name=["ankita","sakshi","sayali","nikita"]
print(len(name))

4

In [6]:
name=["ankita","sakshi","sayali","nikita"]
xy=name[1:2]
print(xy)

['sakshi']

In [7]:
name=["ankita","sakshi","sayali","nikita"]
xy=name[-2:1]
print(xy)

[]

In [8]:
name=["ankita","sakshi","sayali","nikita"]
name.append("priya")
print(name)

['ankita', 'sakshi', 'sayali', 'nikita', 'priya']

In [9]:
name=["ankita","sakshi","sayali","nikita"]
name.remove("sakshi")
print(name)

['ankita', 'sayali', 'nikita']

In [10]:
name=["ankita","sakshi","sayali","nikita"]
name.insert(2,"shruti")
print(name)

['ankita', 'sakshi', 'shruti', 'sayali', 'nikita']

In [11]:
name=["ankita","sakshi","sayali","nikita"]
name.pop()

'nikita'

In [12]:
name=["ankita","sakshi","sayali","nikita"]
name1=["ankita1","sakshi1","sayali1","nikita1"]
add=name+name1
print(add)

['ankita', 'sakshi', 'sayali', 'nikita', 'ankita1', 'sakshi1', 'sayali1', 'nikita1']

In [13]:
# Tuple

In [14]:
city=("kolhapur","satara","pune","mumbai")
print(type(city))

<class 'tuple'>

In [15]:
city=("kolhapur","satara","pune","mumbai")
print(len(city))

4

In [16]:
# Set

In [17]:
name={"amit","priya","akshay","shree","heena"}
print(type(name))

<class 'set'>

In [18]:
name={"amit","priya","akshay","shree","heena"}
print(len(name))

5

In [19]:
name={"amit","priya","akshay","shree","heena"}
city={"kolhapur","satara","pune","mumbai"}
add=name.union(city)
print(add)

{'akshay', 'satara', 'priya', 'amit', 'kolhapur', 'heena', 'pune', 'mumbai', 'shree'}

In [20]:
name={"amit","priya","akshay","shree","heena"}
name.add("xyz")
print(name)

{'akshay', 'xyz', 'priya', 'amit', 'heena', 'shree'}

In [21]:
name={"amit","priya","akshay","shree","heena"}
name.remove("amit")
print(name)

{'akshay', 'priya', 'heena', 'shree'}

In [22]:
name={"amit","priya","akshay","shree","heena"}
name.discard("xyz")
print(name)

{'akshay', 'priya', 'amit', 'heena', 'shree'}

In [23]:
# Dictionary

In [24]:
details={"Name":"Ankita",
        "Age":23,
        "Birth_date":12}
print(details)

{'Name': 'Ankita', 'Age': 23, 'Birth_date': 12}

In [25]:
details={"Name":"Ankita",
        "Age":23,
        "Birth_date":12}
print(type(details))

<class 'dict'>

In [26]:
details={"Name":"Ankita",
        "Age":23,
        "Birth_date":12}
print(len(details))

3

In [27]:
details={"Name":"Ankita",
        "Age":23,
        "Birth_date":12}
details["Fav_color"]="Black"
print(details)

{'Name': 'Ankita', 'Age': 23, 'Birth_date': 12, 'Fav_color': 'Black'}

# Q.class program

In [34]:
class details:
    def __init__(self):
        self.Regi_no = int(input("Enter the Registration no.:"))
        self.Name = input("Enter the Name:")
        self.User_name = input("Enter the user name:")
        self.Login_id = input("Enter the Login ID:")
        self.Password = int(input("Enter the Password"))
        print("----------------------------------------------")
for x in range(2):
    details()

Enter the Registration no.:1
Enter the Name:ankita
Enter the user name:abc
Enter the Login ID:ank@123
Enter the Password456
----------------------------------------------
Enter the Registration no.:2
Enter the Name:nikita
Enter the user name:xyz
Enter the Login ID:nik@678
Enter the Password987
----------------------------------------------

In [33]:
class operation:
    def add():
        a2=int(input("enter the value of a:"))
        b2=int(input("enter the value of b:"))
        if a2==20 and b2==30:
            print("values true")
        else:
            print("values false")
    add()

enter the value of a:20
enter the value of b:20
values false

# Q.write a program on student marks 2 student names and each 5 subject marks. calculate the total and average

In [3]:
ab=["ankita","nikita"]
marks=[]
marks1=[]
for x in ab:
    if x=="ankita":
        for y in range(5):
            m=int(input("enter the marks:"))
            marks.append(m)
            total=sum(marks)
            avg=total/len(marks)
        print(marks)
        print("total_marks",total)
        print("ankita's avg..",avg)
        
    elif x=="nikita":
        for z in range(5):
            m1=int(input("enter the marks"))
            marks1.append(m1)
            total=sum(marks)
            avg=total/len(marks)
        print(marks1)
        print("total_marks",total)
        print("nikita's avg..",avg)

enter the marks:95
enter the marks:75
enter the marks:93
enter the marks:64
enter the marks:78
[95, 75, 93, 64, 78]
total_marks 405
ankita's avg.. 81.0
enter the marks98
enter the marks93
enter the marks45
enter the marks78
enter the marks95
[98, 93, 45, 78, 95]
total_marks 405
nikita's avg.. 81.0

# Q. Function programming

In [5]:
def per():
    name=["Nikita","Ankita","Sayali","Pooja","Amit"]
    for x in name:
        if x=="Ankita":
            print("Yes I am ")
            return name
        
def abc():
    ab=per()
    a=60
    b=80
    c=a+b
    return c

def xyz():
    aa=abc()
    ad={56,23,77,63,44}
    ad.add(aa)
    print(ad)
    
xyz()

Yes I am
{44, 77, 140, 23, 56, 63}